html {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom;
    background-size:20%;

    height: 100%;
    font-family: Helvetica Neue, Arial, sans-serif;
    font-size: 16pt;
    color: #000080
}
* {
        color: #000080
        margin: 0;
        target-new: tab ! important
}
html, body {
    background-color: #FEFADB
}
li {    list-style-type: none; 
    color: #0000A0}

h1 {color: #000020}

h2 {color: #000050}

.highlight {
    color: #D01C55
    font-weight: bold;
}

pre.highlight span {
    color: rgb(102, 102, 102);
}
pre.highlight span.o {
    color: rgb(97, 192, 225);
    /*208, 26, 85);*/
}

a {
    border-radius: 3px 3px 3px 3px;
    color: #61C0E1;
    padding: 0 2px;
    text-decoration: none;
    outline: 0;
}

a:hover {
    background: none repeat scroll 0 0 #61C0E1;
    color: #000000;
    text-decoration: none;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}
